
 .swal2-popup {
    width: 23em !important;
    max-width: 100%;
    padding: 0 !important;
    font-size: 1rem;
    height: 225px;
}

 .reject.swal2-container.swal2-center>.swal2-popup {
    border-top: 2px solid #ff0a0a !important;
}

 .approve.swal2-container.swal2-center>.swal2-popup {
    border-top: 2px solid #3085d6 !important;
}

 .hold.swal2-container.swal2-center>.swal2-popup,
 .unhold.swal2-container.swal2-center>.swal2-popup {
    border-top: 2px solid #44CCEB !important;
}

 .taken_for_dis.swal2-container.swal2-center>.swal2-popup,
 .vehicle_underloading.swal2-container.swal2-center>.swal2-popup {
    border-top: 2px solid #00679F !important;
}


 .swal2-styled.swal2-confirm,
 .swal2-styled.swal2-cancel {
    width: 140px;
    border-radius: 50px;
}

 .swal2-styled.swal2-cancel {
    background-color: transparent !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
}

 .swal2-icon .swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 1.75em;
}

 div#swal2-html-container {
    display: none;
}

 .swal2-icon {
    width: 3em;
    height: 3em;
    margin: 0 auto;
    margin-top: 18px;
}

 .mat-typography h2 {
    margin: 0 !important;
    padding: 0;
}

 .swal2-styled.swal2-default-outline:focus {
    box-shadow: none;
}

 .swal2-html-container {
    margin: 0;
}

 .swal2-title {
    overflow: hidden !important;
}

 .swal2-actions {
    margin-top: 0;
    margin-bottom: 12px;
}

 h2#swal2-title {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
}

 .swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

 .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    top: 1.3em;
    width: 1.8em;
    height: .2125em;
}

p.no_data {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
}

 span.swal2-x-mark-line-left {
    top: 22px !important;
    left: 10px !important;
}

 span.swal2-x-mark-line-right {
    top: 22px !important;
    left: 10px !important;
}

.close_icon {
    cursor: pointer;
}

.total_outstd h4 span {
    font-size: 12px;
}

.verification-swipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 100px;

    .verfication {
        padding-left: 30px;
        position: relative;
        display: flex;
        gap: 10px;
    }
}

.sticky {
    .mat-icon {
        padding-top: 10px;
    }
}

.verfication img {
    width: 23px;
}

.total-curr {
    position: relative;
}

.total-curr span {
    position: absolute;
    right: 0px;
    top: 30%;
}

th.material-name {
    min-width: 210px;
    max-width: 210px;
    width: 210px;
}

.dealer-details {
    transition: all .3s ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

 .swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 1.45em;
    right: 2px;
    width: 2em;
    transform: rotate(-45deg);
}

 .swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 1.75em;
    left: 0.3em;
    width: 1.2em;
    transform: rotate(45deg);
}

 .swal2-icon.swal2-success {
    border-color: transparent;
}

 .swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right,
 .swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long,
 .swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip {
    animation: none !important;
}

 .swal2-popup.swal2-modal.swal2-icon-error.swal2-show {
    border-top: 2px solid #F27474;
}

 .swal2-popup.swal2-modal.swal2-icon-error.swal2-show .swal2-styled.swal2-confirm {
    background: #F27474;
}

 .swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
    border-top: 2px solid #A5DC86;
}

 .swal2-popup.swal2-modal.swal2-icon-success.swal2-show .swal2-styled.swal2-confirm {
    background: #A5DC86;
}

 .swal2-popup.swal2-modal.swal2-icon-warning.swal2-show {
    border-top: 2px solid #f8bb86;
}

 .swal2-popup.swal2-modal.swal2-icon-warning.swal2-show .swal2-styled.swal2-confirm {
    background: #f8bb86;
}

 .swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
    border-top: 2px solid #3fc3ee;
}

 .swal2-popup.swal2-modal.swal2-icon-info.swal2-show .swal2-styled.swal2-confirm {
    background: #3fc3ee;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 1.45em;
    right: 2px;
    width: 2em;
    transform: rotate(-45deg);
}

 .swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 1.75em;
    left: 0.3em;
    width: 1.2em;
    transform: rotate(45deg);
}

 .swal2-icon.swal2-success {
    border-color: transparent;
}

 .swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right,
 .swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long,
 .swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip {
    animation: none !important;
}

 .swal2-popup.swal2-modal.swal2-icon-error.swal2-show {
    border-top: 2px solid #F27474;
}

 .swal2-popup.swal2-modal.swal2-icon-error.swal2-show .swal2-styled.swal2-confirm {
    background: #F27474;
}

 .swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
    border-top: 2px solid #A5DC86;
}

 .swal2-popup.swal2-modal.swal2-icon-success.swal2-show .swal2-styled.swal2-confirm {
    background: #A5DC86;
}

 .swal2-popup.swal2-modal.swal2-icon-warning.swal2-show {
    border-top: 2px solid #f8bb86;
}

 .swal2-popup.swal2-modal.swal2-icon-warning.swal2-show .swal2-styled.swal2-confirm {
    background: #f8bb86;
}

 .swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
    border-top: 2px solid #3fc3ee;
}

 .swal2-popup.swal2-modal.swal2-icon-info.swal2-show .swal2-styled.swal2-confirm {
    background: #3fc3ee;
}
