@use '@angular/material' as mat;

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav-content,
mat-sidenav {
  transition: all 500ms ease-in-out;
}

mat-sidenav {
  @include mat.sidenav-overrides((container-divider-color: rgba(0, 0, 0, 0.1),
      container-shape: 0px,
      container-background-color: white,
    ));
}
app-login{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
  color: #3e5fac !important;
}
.mat-mdc-nav-list .mat-mdc-list-item.mdc-list-item--activated{
  color: #3e5fac !important;
}
/* width */
.mat-drawer-inner-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.mat-drawer-inner-container::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
.mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background: #55aa55;
}

/* Handle on hover */
.mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
  background: #88dd88;
}
/* width */
.mat-drawer.mat-sidenav.mat-drawer-opened.mat-drawer-side::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.mat-drawer.mat-sidenav.mat-drawer-opened.mat-drawer-side::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
.mat-drawer.mat-sidenav.mat-drawer-opened.mat-drawer-side::-webkit-scrollbar-thumb {
  background: #c3c9d6 !important
}

/* Handle on hover */
.mat-drawer.mat-sidenav.mat-drawer-opened.mat-drawer-side::-webkit-scrollbar-thumb:hover {
  background: #c3c9d6 !important
}
.mat-drawer.mat-sidenav.mat-drawer-opened.mat-drawer-side .mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
  background: #c3c9d6 !important

}
.scrollbar .mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: visible !important;
}